@media only screen and (min-width: 1000px) {
  .links {
    font-size: var(--text-size);
    max-width: 70vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: calc(var(--text-size) / 8);
    column-gap: var(--text-size);
    align-items: center;
    justify-content: center;
  }

  .credits {
    padding: calc(var(--text-size) / 2);
  }

  .credits .description {
    display: block;
  }
}
