@media only screen and (min-width: 1000px) {
  .links {
    font-size: var(--text-size);
    max-width: 50vw;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: var(--text-size);
    column-gap: var(--text-size);
    align-items: center;
    justify-items: center;
    justify-content: center;
  }

  .divisor {
    display: inline-block;
    width: calc(var(--text-size) / 6);
    height: calc(var(--text-size) / 6);
    margin-bottom: calc(var(--text-size) / 5);
    margin-right: calc(var(--text-size) / 12);
    background-color: var(--text-color);
    border-radius: 50%;
  }
}
