@font-face {
  font-family: Roboto-Thin;
  src: url('Roboto-Thin.ttf');
}

@font-face {
  font-family: Roboto-Regular;
  src: url('Roboto-Regular.ttf');
}

html {
  height: 100%;
}

body {
  overflow: hidden;
  margin: 0;
  font-family: Roboto-Thin;
}

body * {
  padding: 0;
  margin: 0;
  z-index: 50;
}

a, a:visited, a:active {
  color: inherit;
  text-decoration: none;
}

a:hover {
   filter: invert(100%);
}

.container {
  position: fixed;
  display: inline-block;
}

.flexcontainer {
  position: fixed;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.flexcontainerwide {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.center {

}

.datetime {
  z-index: 100;
  width: auto;
}

#top {
  width: 100vw;
  font-size: 2rem;
  z-index: 100;
}

.weather {
  padding: 1.5vw;
}

.stats {
  padding: 1.5vw;
}

.stat {
  display: block;
}

.hidden {
  display: none;
  padding-right: 1rem;
  padding-right: 1rem;
}

#center {
  width: 100vw;
  height: 30vh;
  top: 5vh;
  text-align: center;
}

.datetime {
  display: inline-block;
  margin-left: auto;
  padding: 0.75vw;
}

#time, #date {
  margin: auto;
}

#time {
  font-size: 12rem;
  padding-top: 0.75vw;
  padding-left: 0.75vw;
  padding-right: : 0.75vw;
}

#date {
  font-size: 5rem;
  padding-bottom: 0.75vw;
  padding-left: 0.75vw;
  padding-right: : 0.75vw;
}

#bottom {
  height: auto;
  width: 80vw;
  left: 10vw;
  bottom: 5vh;
}

.link {
  font-family: Roboto-Thin;
  display: inline;
  margin-left: 1vw;
  margin-right: 1vw;
  padding: 0.75vw;
  text-align: center;
  vertical-align: middle;
  font-size: 5rem;
}

.landscapedisclaimer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  text-align: center;
  display: none;
}
