@font-face {
  font-family: Roboto-Light;
  src: url("Roboto-Light.ttf");
}

.light-text {
  color: var(--white);
}

.dark-text {
  color: var(--black);
}

.blur {
  filter: blur(10px);
  transform: scale(1.1);
}

html {
  height: 100%;
}

body {
  overflow: hidden;
  margin: 0;
  font-family: Roboto-Light;
}

body * {
  padding: 0;
  margin: 0;
  z-index: 50;
}

a {
  color: inherit;
}

.page {
  position: absolute;
  top: 0;
  left: 0;

  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}

.top {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.center {
  display: flex;
  flex-direction: row;
  justify-content: center;

  text-align: center;
}

.bottom {
  display: flex;
  flex-direction: row;
  justify-content: center;

  text-align: center;
}

.stats {
  display: flex;
  flex-direction: column;
  justify-content: center;

  text-align: center;
  user-select: none;
}

#greeting {
  font-size: var(--subtitle-size);
}

#time {
  font-size: var(--title-size);
}

#date {
  font-size: var(--subtitle-size);
}

.weather {
  font-size: var(--subtitle-size);
  list-style-type: none;
  user-select: none;
}

.weather li {
  list-style-type: none;
}

.links {
  font-size: var(--text-size);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  row-gap: calc(var(--text-size) / 4);
}

.links a {
  position: relative;
}

.links a:hover {
  filter: invert(1);
}
