@media screen and (min-width: 651px) and (max-width: 999px) {
  #top {
    font-size: 1.5rem;
  }

  #time {
    font-size: 5rem;
  }

  #date {
    font-size: 3rem;
  }

  #bottom {
    width: 70vw;
    left: 15vw;
  }

  .link {
    font-size: 3rem;
  }

}
