:root {
  --white: rgb(240, 240, 240);
  --black: rgb(0, 0, 0);
}

@media only screen and (max-width: 768px) {
  :root {
    --title-size: 3rem;
    --subtitle-size: 1.75rem;
    --text-size: 1.75rem;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1200px) {
  :root {
    --title-size: 5.5rem;
    --subtitle-size: 1.5rem;
    --text-size: 2.5rem;
  }
}

@media only screen and (min-width: 1201px) {
  :root {
    --title-size: 6rem;
    --subtitle-size: 2rem;
    --text-size: 3rem;
  }
}
