{% extends "base.html" %}

{% block title %}
RPi 4 Homepage
{% endblock title %}

{% block head %}
<script src="{{ url_for('static', filename='js/main.js')}}"></script>
{% endblock head %}

{% block body %}
<div class="page">

  <div class="top">
    <div class="stats">
      <div id="time"></div>
      <div id="date"></div>
    </div>
  </div>

  <div class="center">
    <div class="weather">
      <ul>
        <li id="city"></li>
        <li id="temperature-humidity"></li>
        <li id="description"></li>
      </ul>
    </div>
  </div>

  <div class="bottom">
    <ul class="links">
      {% for link in links %}
      <li><a href="{{link.href}}">{{link.name}}</li></a>
      {% endfor %}
    </ul>
  </div>

</div>
{% endblock body %}