{% extends "base.html" %}

{% block title %}
RPi 4 Homepage
{% endblock title %}

{% block head %}
<script src="{{ url_for('static', filename='js/main.js')}}"></script>
{% if gradient %}
<style type="text/css">
body {
  background: {{gradient}};
}
</style>
{% endif %}

{% endblock head %}

{% block body %}
<div class="page">

  <div class="top">
    <div class="stats">
      <div id="greeting"></div>
      <div id="time"></div>
      <div id="date"></div>
    </div>
  </div>

  <div class="center">
    <div class="weather">
      <ul>
        <li id="city"></li>
        <li id="temperature-humidity"></li>
        <li id="description"></li>
      </ul>
    </div>
  </div>

  <div class="bottom">
    <div class="links">
      {% for link in links %}
      <div class=line><a href="{{link.href}}">{{link.name}}</a></div>
      {% endfor %}
    </div>
  </div>

</div>
{% endblock body %}