[
  {
    "display_name": "SHOWN NAME",
    "name": "SERVICE NAME",
    "lan_ip": "SERVICE LAN IP",
    "zerotier_ip": "ZEROTIER SERVICE IP",
    "port": SERVICE PORT,
    "path": "SERVICE PATH - can be omitted"
  }
]
