{
  "Server": {
    "host": "HOST IP",
    "port": HOST PORT,
    "debug": true,
    "zerotier-ip": "ZEROTIER IP - can be omitted",
    "lan-ip": "LAN IP",
  },
  "OpenWeatherMap": {
    "api_key": "API KEY",
    "city": "YOUR CITY",
    "language": "YOUR LANGUAGE - example: en, it"
  }
}