{
  "Server": {
    "host": "HOST IP",
    "port": HOST PORT,
    "debug": true,
  },
  "OpenWeatherMap": {
    "api_key": "API KEY",
    "city": "YOUR CITY",
    "language": "YOUR LANGUAGE - example: en, it"
  }
}